In [1]:
# 추상클래스는 ABCMeta를 상속 받고 추상메소드가 있어야 함
from abc import ABCMeta, abstractmethod
class Abstract1 (metaclass=ABCMeta):
    attr = "추상클래스"
    @abstractmethod
    def m1(self):
        pass
    def m2(self):
        print('대박')
#추상클래스는 객체를 못 만듬
a1 = Abstract1()

TypeError: ignored

In [2]:
from abc import *
class A (metaclass=ABCMeta):
    def prn(self):
        print("대박")
    @abstractmethod
    def p2(self):
        pass
# 추상클래스를 상속 받은 클래스는 반드시 추상메소드를 재정의
class A1(A):
    def aa(self):
        print('사건')
    def p2(self):
        print("아 이건 필수네")
a1 = A1()
a1.aa(); a1.p2()

사건
아 이건 필수네

In [3]:
from abc import *
class Animal(metaclass=ABCMeta):
    def __init__(self,eat1="그냥"):
        self.eat1 = eat1
    def eat(self): print("먹어야 산다")
    # 추상메서드 상속받은 자식이 재정의 해야 한다
    @abstractmethod
    def move(self): pass
class Bird(Animal):
    def move(self):
        print('하늘을 난다 {}'.format(self.eat1))
class Person(Animal):
    def move(self): print('두발로 걷는다 {}'.format(self.eat1))
class Fish(Animal):
    def move(self): print("지느러미로 헤엄친다")
b1 = Bird();  p1 = Person("대박");  f1 = Fish()
animal = [b1, p1, f1]
for an in animal:
    print('==============')
    an.eat(); an.move()

==============
먹어야 산다
하늘을 난다 그냥
==============
먹어야 산다
두발로 걷는다 대박
==============
먹어야 산다
지느러미로 헤엄친다

In [5]:
class A:
    def m1(self):
        print("점심시간")
class B(A):
    def m2(self):
        print("1차 프로젝트 종료일")
class C(B):
    def m3(self):
        print("뭘 그래")
c1 = C()
c1.m1(); c1.m2(); c1.m3()

점심시간
1차 프로젝트 종료일
뭘 그래

In [6]:
class Call:
    # __call__: 객체를 메서드처럼 호출할 때 실행
    def __call__(self, *a):
        print('대박이야 :')
        for i in a:
            print(i)
c1 = Call()
c1()
c1('뭐지','허걱','허각','허공')

대박이야 :
대박이야 :
뭐지
허걱
허각
허공

In [7]:
while True:
    try:
        li = [1, 2, 3]
        print('인덱스 번호를 입력하세요')
        num1 = input()
        if num1 == 'x': break
        num = int(num1)
        print('{} / 2 = {}'.format(li[num], li[num]/2))
    except Exception as err:
        print("에러다 {}".format(err))
    else: # 에러가 발생하지 않았을 때 할 실행문
        print('잘했어 친구')
    finally: # 에러 발생여부와 관계없이 항생 실행
        print('난 무조건이야 !!')

인덱스 번호를 입력하세요
2
3 / 2 = 1.5
잘했어 치타
난 무조건, 무조건이야 !!
인덱스 번호를 입력하세요
ㅌ
에궁 에러 invalid literal for int() with base 10: 'ㅌ'
난 무조건, 무조건이야 !!
인덱스 번호를 입력하세요
x
난 무조건, 무조건이야 !!

In [8]:
from abc import *
class Employ(metaclass=ABCMeta):
    def __init__(self, name):   self.name=name
    @abstractmethod
    # 직원마다 급여체계가 다르다
    def cal_sal(self):
        pass
    def bonus(self):
        self.sal = self.cal_sal()
        self.bonus = self.sal * 0.1
    def prn(self):
        print('----------')
        print('이름 : {}'.format(self.name))
        print('급여 : {0:.2f}원'.format(self.sal))
        print('보너스 : {0:.2f}원'.format(self.bonus))
class SalaryMan(Employ):
    def __init__(self, name, annual):
        super().__init__(name); self.annual = annual
    def cal_sal(self): return  self.annual/12
    def prn(self):
        super().prn()
        print('연봉 : {}원'.format(self.annual))
class HourlyMan(Employ):
    def __init__(self, name, work_hour, money_per_hour):
        super().__init__(name); self.work_hour = work_hour
        self.money_per_hour = money_per_hour
    def cal_sal(self): return self.work_hour * self.money_per_hour
    def prn(self):
        super().prn()
        print('단가 : {}원'.format(self.money_per_hour))
        print('근무 : {}시간'.format(self.work_hour))
s1 = SalaryMan('유느님', 500000)
s2 = SalaryMan('신동엽', 400000)
s3 = SalaryMan('이영자', 380000)
h1 = HourlyMan('알리',15,22000)
h2 = HourlyMan('IU',10, 25000)
h3 = HourlyMan('제니',5, 18000)
emps = [s1, s2, s3, h1, h2, h3]
for emp in emps:
    emp.bonus()
    emp.prn()

----------
이름 : 유느님
급여 : 41666.67원
보너스 : 4166.67원
연봉 : 500000원
----------
이름 : 신동엽
급여 : 33333.33원
보너스 : 3333.33원
연봉 : 400000원
----------
이름 : 이영자
급여 : 31666.67원
보너스 : 3166.67원
연봉 : 380000원
----------
이름 : 알리
급여 : 330000.00원
보너스 : 33000.00원
단가 : 22000원
근무 : 15시간
----------
이름 : IU
급여 : 250000.00원
보너스 : 25000.00원
단가 : 25000원
근무 : 10시간
----------
이름 : 제니
급여 : 90000.00원
보너스 : 9000.00원
단가 : 18000원
근무 : 5시간

In [9]:
result = 0
try:#0  1  2  index3번째  데이터 없기 때문에
    # [1, 2, 3][3]
    # "a"+1
    4 / 0
except TypeError:    result += 1
except ZeroDivisionError:   result += 2
except IndexError:   result += 3
finally:
    result += 4
print(result)

6

In [10]:
# Generator Expression
# 내부함수인 yield를 수행
g1 = (n*n for n in range(21))
# print(list(g1))
for i in range(10):
     val = next(g1)
     print(val)
# 나머지 데이터 출력
# for i in g1:
#     print(i)

0
1
4
9
16
25
36
49
64
81

In [11]:
def yourRange(start, end):
    current = start
    while current < end:
        yield current
        current+= 1
    return

for i in yourRange(0, 5):
    print(i)

0
1
2
3
4

In [12]:
class Base:
    def m1(self):
        print("대박")
class Derived(Base): # 파이썬의 살속은 ()
    def m2(self):
        print("사건")
if __name__ == "__main__":
    b1 = Base(); b1.m1(); # b1.m2() # Base에 m2라는 메소드가 없음
    d1 = Derived(); d1.m1();  d1.m2()
    # Derived에 없는 메소드  m1()이 실행되는 이유는 상속

대박
대박
사건

In [14]:
# 1**3, 2**3,... 10**3
li = [ n**n for n in range(1,11)]
print(li)

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489, 10000000000]

In [15]:
class A:
    def m1(self):
        print("난 A")
class B:
    def m2(self):
        print("난 B")
class C:
    def m3(self):
        print("난 C")
class F(A, B, C):
    pass
f1 = F()
f1.m1(); f1.m2(); f1.m3()

난 A
난 B
난 C

In [16]:
class MyException(Exception):
    def __init__(self, arg):
        super().__init__('정수가 아녀 : {}'.format(arg))
def conver(num):
    if num.isdigit():
        return int(num)
    else:
        raise MyException(num)
try:
    print('숫자를 입력하세요')
    num = input()
    a = conver(num)
except MyException as err:
    print("에러네 : {}".format(err))
else:
    print('입력한 수 {} 타입 {}'.format(a, type(a)))

숫자를 입력하세요
2.5
에러네 : 정수가 아녀 : 2.5

In [17]:
class A1:
    def m1(self):
        print('난 A1야')
# overriding은 부모와 매개변수와 이름이 같은 메서드
# 재정의, 현재 객체와 가까운 메서드 사용
class A2(A1):
    def m1(self):
        print('난 A2야')
class A3(A2):
    def m1(self):
        print('난 A3야')
a1 = A1(); a2 = A2(); a3 = A3();
a1.m1();  a2.m1();  a3.m1()

난 A1야
난 A2야
난 A3야

In [19]:
try:
    print('숫자를 입력하세요')
    num = int(input())
    print('숫자 :',num)
    # 무조건 에러 발생, 테스트 등에서 강제 종료
    raise Exception('에러야')
except Exception as err:
    print("에궁 {}".format(err))

숫자를 입력하세요
2
숫자 : 2
에궁 에러야

In [23]:
class Base:
    def __init__(self, name):
        print('Base.__init__()')
        self.message = ' 안뇽'
        print(name)
# super() 무모의 생성자를 가르킴
class Derived(Base):
    def __init__(self):
        print('Derived __init__()')
        super().__init__('승현')
        # self.message 부모릐 변수를 살속 받아서 사용
        print('메세지 : {}'.format(self.message))
d1 = Derived()

Derived __init__()
Base.__init__()
승현
메세지 :  안뇽

In [22]:
class A:
    def __init__(self,name, age):
        print("A__init__")
        self.name = name; self.age = age
class B(A):
    def __init__(self):
        print("B__init__")
        super().__init__('승현', 15)
    def print(self):
        print("이름 : {}, 나이 : {}".format(self.name, self.age))
b1 = B(); b1.print()

B__init__
A__init__
이름 : 승현, 나이 : 15