In [ ]:
x = 5  # call by value
y = x  # 기본형은 값을 전달
print(x, y)
y = 3
print(x, y)

5 5
5 3

In [ ]:
x = [2,3,5,7,11] # 참조형 call by reference
y = x            # 주소 pointer를 넘김
y[2] = 4
print(x)
print(y)

[2, 3, 4, 7, 11]
[2, 3, 4, 7, 11]

In [ ]:
x = [2,3,5,7,11]
y = list(x)   # x에 있는 데이터를 가지고 와서
              # y가 새로 만든 주소에 데이터를 저장장y[2] = 4
print(x)
print(y)

[2, 3, 5, 7, 11]
[2, 3, 5, 7, 11]

In [ ]:
list= [6,4,3]
list.append(4)
list.append([5,6])
print(list)
list2 = [7, 3,6,2,1]
# sort()는 원본 데이터를 변경
list2.sort()
print(list2)
list3 = ["l",'a','c','b']
list3.sort()
print(list3)

[6, 4, 3, 4, [5, 6]]
[1, 2, 3, 6, 7]
['a', 'b', 'c', 'l']

In [ ]:
num = [3, 5, 6, 7]
# 문자열은 특정 index값을 변경하지 못하지만 list 변경 가능
num[1] = 12
num[0] = num[2] + num[3]
print(num)

[13, 12, 6, 7]

In [ ]:
num = [1, 6, 8,2,4,6,1,7, 6]
# count해당하는 요소가 몇개인지 센다
print(num.count(6))
print(num.count(1))
# extend 를 list를 추가할 때 사용
num.extend([4, 7])
print(num)
# 요소 1개 추가
num.append(4)
print(num)
# +가 extend와 유사한 형태
num = num+[7,8]
print(num )

3
2
[1, 6, 8, 2, 4, 6, 1, 7, 6, 4, 7]
[1, 6, 8, 2, 4, 6, 1, 7, 6, 4, 7, 4]
[1, 6, 8, 2, 4, 6, 1, 7, 6, 4, 7, 4, 7, 8]

In [ ]:
# key가 중복되면 앞의 데이터는 무시
d1 = {'이름':'수지','나이':25,'취미':'욕하기','나이':12}
print(d1)
print(d1['나이'])
print(d1['이름'])
print(len(d1))
d1['이름'] = '다혜'  # 해당하는 key의 값이 변경
print(d1['이름'])
del d1['나이']   # key에 해당하는 데이터 삭제
print(d1)

{'이름': '수지', '나이': 12, '취미': '욕하기'}
12
수지
3
다혜
{'이름': '다혜', '취미': '욕하기'}

In [ ]:
d1 = {'이름':'하니','나이':23,'취미':'코 후비기'}
print(d1.keys())
print(d1.values())
print(d1.items())
d2 = d1.copy()
d1.clear()
print(d1)
print(d2)
print(d2.get('이름'))
print(d2.get('나이','대박'))
print(d2.get('고향','대박')) # 키가 없으면 출력

dict_keys(['이름', '나이', '취미'])
dict_values(['하니', 23, '코 후비기'])
dict_items([('이름', '하니'), ('나이', 23), ('취미', '코 후비기')])
{}
{'이름': '하니', '나이': 23, '취미': '코 후비기'}
하니
23
대박

In [ ]:
d1 = {}
d1['이름'] = '수지'
d1['나이'] = 25
print(d1)
# 값는 리스트등 여러개 가능
d2 = {'이름':['철수', '영희']}
print(d2)
# key는 하나
# d3 = {['이름,나이']:'몰라'}

{'이름': '수지', '나이': 25}
{'이름': ['철수', '영희']}

In [ ]:
# 4, 5, 8,2를 가진 num list 생성
num = [4,5,8,2]; print(num)
# 뒤에 11 추가
num.append(11); print(num)
# 1번째 인덱스에 17 추가
num.insert(1,17); print(num)
# 5 샥제
num.remove(5); print(num)
# 3번째 인덱스에 1로 변경
num[3] = 1;  print(num)
# 데이터를 거꾸로 출력
num.reverse();  print(num)
# 데이터를 정열하고 출력
num.sort();  print(num)
# 17의 인덱스 번호
print(num.index(17))

[4, 5, 8, 2]
[4, 5, 8, 2, 11]
[4, 17, 5, 8, 2, 11]
[4, 17, 8, 2, 11]
[4, 17, 8, 1, 11]
[11, 1, 8, 17, 4]
[1, 4, 8, 11, 17]
4

In [ ]:
num = [5, 7, 8]; print(num)
# 9추가
num.append(9); print(num)
# [11, 23} 추가
num.extend([11,23]); print(num)
# [1, 5]를 +로 추가
num = num + [1, 5]; print(num)
# 5의 갯수를 count
print(num.count(5))
# pop으로 마지막 데이터 출력하고
print(num.pop()); print(num)
# 인덱스 2번 데이터를 pop으로 출력하고 num 출력
print(num.pop(2)); print(num)

[5, 7, 8]
[5, 7, 8, 9]
[5, 7, 8, 9, 11, 23]
[5, 7, 8, 9, 11, 23, 1, 5]
2
5
[5, 7, 8, 9, 11, 23, 1]
8
[5, 7, 9, 11, 23, 1]

In [ ]:
greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]
# range는 0부터 값 앞에 까지 (7이면 6까지)
# 안녕부터 출력
for i in range(len(greetings)):
    print(greetings[i])
print('----------------')
# 봉주르 부터
while greetings:
    print(greetings.pop())

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르
----------------
봉주르
헬로
싸와디캅
올라
곤니찌와
니하오
안녕

In [ ]:
names = ["호동","재석","포동","희철","효리"]
# 인덱스 1번째에 "하니"추가
names.insert(1,'하니')
# 인덱스 3번째에 ["아이유", "제니"] 추가
names[3:3] = ["아이유", "제니"]
# index 0번째 데이터 삭제
# 값을 지울 때 names.remove("호동");
del names[0]
# 인덱스를 이용하여 처음부터 끝 까지 출력
for i in range(len(names)):
    print(names[i])
print('==============')
# 데이터를 직접 가져와서 처음부터 끝까지 출력
for i in names:
    print(i)
# pop을 사용해서 뒤부터 출력
print('==============')
while names:
    print(names.pop())

하니
재석
아이유
제니
포동
희철
효리
==============
하니
재석
아이유
제니
포동
희철
효리
==============
효리
희철
포동
제니
아이유
재석
하니

In [ ]:
names = ["호동","재석","포동","희철","효리"]
# 가나다 순 출력
print(sorted(names))
# 입력의 역순으로 출력 (원본 데이터 변경)
names.reverse()
print(names)
# 원본 데이터 변경하여 출력
names.sort()
print(names)
# names를 내림차순으로 출력
print(sorted(names, reverse=True))
# 원본 데이터를 변경하여 내림차순 출력
names.sort(reverse=True)
print(names)

['재석', '포동', '호동', '효리', '희철']
['효리', '희철', '포동', '재석', '호동']
['재석', '포동', '호동', '효리', '희철']
['희철', '효리', '호동', '포동', '재석']
['희철', '효리', '호동', '포동', '재석']

In [ ]:
names = ["호동","재석","포동","희철","효리"]
# in은 값이 포함되어 있는지 확인
print("포동" in names)
print("제니" in names)
# not in은 값이 포함되지 않았는지 확인
print("포동" not in names)
print("제니" not in names)

True
False
False
True

In [ ]:
num = [1, 2, 3]
# insert 특정한 인덱스 위치에 데이터 추가
num.insert(0,7)
num.insert(2,6)
print(num)
num[3] = 12
print(num)
num.remove(6)
print(num)

[7, 1, 6, 2, 3]
[7, 1, 6, 12, 3]
[7, 1, 12, 3]

In [ ]:
family = {}
family['어머니'] = 'grace'
family['아버지'] = 'chris'
family['아들'] = 'young'
family['딸'] = 'kay'
for k, v in family.items():
    print('{} : {}'.format(k, v))

어머니 : grace
아버지 : chris
아들 : young
딸 : kay

In [ ]:
# 빈 리스트 만들기
numbers = []  # numbers 에 자연수 1 부터 10 까지 추가
numbers[:] = range(1,11)
print(numbers)
# numbers 에서 홀수 제거
del numbers[::2]
print(numbers)
# numbers 에서 짝수 제거
# del numbers[1::2]
# print(numbers)
# numbers 의 인덱스 0 자리에 20 이라는 값 삽입
numbers[0] = 20
print(numbers)
# numbers 를 정렬해서 출력
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 6, 8, 10]
[20, 4, 6, 8, 10]
[4, 6, 8, 10, 20]

In [ ]:
inner = [2, 7, 8]
# list안에 list추가 : 중첩리스트
outer = ["제니", inner, "효리"]
print(outer)
inner[1] = 45
print(outer)
score = [[67,78,88],[88,78,91],[34,67,88]]
print(score[1])
print(score[2][1])

['제니', [2, 7, 8], '효리']
['제니', [2, 45, 8], '효리']
[88, 78, 91]
67

In [ ]:
num = [34, 56, 12, 11, 7, 4]
# 마지막 데이터를 가져와서 버린다
print(num.pop())
print(num)
print(num.pop())
print(num)
# 인덱스를 사용하면 해당하는 인덱스 데이터를 가져와서 버린다
print(num.pop(1))
print(num)

4
[34, 56, 12, 11, 7]
7
[34, 56, 12, 11]
56
[34, 12, 11]

In [ ]:
hashset = set()  # set 생성 데이터 없는 경우 {} x
print(hashset)
hashset = {1, 2, 3}  # 데이터가 있을 경우는 {}로 생성
print(hashset)
hashset = set((1,2,3,2))  # 중복된 2는 하나만 인자로 됨
print(hashset)
hashset = set('hello world') # 중복된 것 제외하고 임으로 순서
print(hashset)
hashset = set([1,6,7,6,1])
print(hashset)

set()
{1, 2, 3}
{1, 2, 3}
{'l', 'r', 'o', 'd', 'h', ' ', 'w', 'e'}
{1, 6, 7}

In [ ]:
s1 = {3, 5, 7}
s1.add(6)
s2 = s1.copy() # 주소가 아니라 데이터 자체 복사
s1.add(9)
print(s1)
print(s2)
s1.discard(5)
s1.remove(7)
print(s1)
s1.discard(10) # 없는 숫자를 discard하면 그냥 통과
# s1.remove(10)  # 없는 숫자를 remove하면 에러
print(s2)
# pop데이터를 하나씩 추출하여 제거
while s2:
    print(s2.pop())

{3, 5, 6, 7, 9}
{3, 5, 6, 7}
{3, 6, 9}
{3, 5, 6, 7}
3
5
6
7

In [ ]:
a1 = {1,2,3,4,5}
a2 = {4,5,6,7,8}
a3 = {9,10,11,12}
# union합집합 : 공통 부분을 한번만 추출
print(a1.union(a2))
# intersection공통집합, 교집한
print(a1.intersection(a2))
# difference는 차집합
print(a1.difference(a2))
# 공통되지 않은 부분만 출력
print(a1.symmetric_difference(a2))
print(a1.isdisjoint(a2))  # 교집합이 없으면 True
print(a1.isdisjoint(a3))

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{1, 2, 3}
{1, 2, 3, 6, 7, 8}
False
True

In [ ]:
numbers = [1, 2, 3, 4, 5, 6]
#          0       1      2       3
#         -4      -3     -2      -1
names = ["윤수", "혜린", "태호", "영훈"]
print(names[2])
print(names[-2])
print(numbers[3])
print(numbers[-1])
print(numbers[3:])  # 뒤는 모두
print(names[:-3])   # 앞이 모두
print(names[1:3])   # 시작: 끝 앞까지

태호
태호
4
6
[4, 5, 6]
['윤수']
['혜린', '태호']

In [ ]:
num = [6, 8, 4, 9, 5]
# reverse는 큰순서
print(sorted(num, reverse=True))
print(num)
num.sort(reverse=True)
print(num)

[9, 8, 6, 5, 4]
[6, 8, 4, 9, 5]
[9, 8, 6, 5, 4]

In [ ]:
data = ['Morning', 'Afternoon', 'evening' ,'Night' ]
data.sort()
print(data)
# 정렬하는 동안은 전부 소문자로 변경하여 처리
data.sort(key=str.lower)
print(data)

['Afternoon', 'Morning', 'Night', 'evening']
['Afternoon', 'evening', 'Morning', 'Night']

In [ ]:
num = [6, 8, 4, 9, 5]
# sorted는 원본 데이터는 그대로 두고 결과만 정렬
print(sorted(num))
num1 = sorted(num)
print(num)
# reverse()원본 데이터의 순서를 뒤부터 재배치
num.reverse()
print(num)
# sort는 원본 데이터를 변경하고 결과는 반환하디 않는다
num.sort()
print(num)

[4, 5, 6, 8, 9]
[6, 8, 4, 9, 5]
[5, 9, 4, 8, 6]
[4, 5, 6, 8, 9]

In [ ]:
t1 = ()
t2 = (1,)  # 인자가 하나인 경우 뒤에 ,
t3 = (1)   # ()속에 있는 정수를 대입
t4 = (1,2,3)
t5 = 1,2,3  # ()를 생략할 수 있다
t6 = ('a','b',('ab','bc')) # 중첩 튜플도 가능
print(type(t1))
print(t2, type(t2))
print(t3, type(t3))
print(t4, type(t4))
print(t5, type(t5))
print(t6, type(t6))

<class 'tuple'>
(1,) <class 'tuple'>
1 <class 'int'>
(1, 2, 3) <class 'tuple'>
(1, 2, 3) <class 'tuple'>
('a', 'b', ('ab', 'bc')) <class 'tuple'>

In [ ]:
# 튜플 변경하지 못하는 경우를 제외하고는 list같음
a1 = (1, 2)
a2 = (3, 4)
print(a1+a2)
print(a1*3)
b1 = [1,2]
b2=[3,4]
print(b1+b2)
print(b1*3)
print(len(a1))

(1, 2, 3, 4)
(1, 2, 1, 2, 1, 2)
[1, 2, 3, 4]
[1, 2, 1, 2, 1, 2]
2