In [ ]:
c = 3 + 4j
print(c)
a1 = 3
a2 = 4
print(a1)
print(a2)
print(a1+a2)

(3+4j)
3
4
7

In [ ]:
kor = 80
eng = 75
math = 55
print('평균 :',(kor + eng + math) / 3)
score = {'kor':80,'eng':75,'math':55}
sum = 0
for sc in score.values():
    sum += sc
print('평균 :',sum/len(score))

평균 : 70.0
평균 : 70.0

In [ ]:
print(3*2 - 8/4)  # 6 - 2.0
print(25*6/3+17)  # 50.0 + 17
print(39021 - 276920/12040)
print(26 - 10%6) # 26 - 4

4.0
67.0
38998.0
22

In [1]:
def isodd(num):
    if num %2 ==  0:
        print("{}은 짝수".format(num))
    else:
        print("{}은 홀수".format(num))
isodd(13)

13은 홀수

In [ ]:
print(12 - (5*7+1)) # 12 - 36
print(5*(8+(10-6)/2))# 5*(8+4/2) = 5* 10.0
print(48320 - ((365-5*9)/16)*987)
print(((34-3*7)%5+4)*2) # (13%5 +4)*2 = (3+ 4)*2

-24
50.0
28580.0
14

In [ ]:
pin = "881120-1068234"
birth = pin[:6]
num = pin[7:]
print('생년월일 :', birth)
print('주민번호 뒷자리 :',num)

생년월일 : 881120
주민번호 뒷자리 : 1068234

In [ ]:
# 이름은 철수 나이는 +14+살  형식으로 출력
print("이름은 철수 나이는 "+str(14)+"살")
# 철수's house
print("철수's house")
print('철수\'s house')
# 왜그래 를 10회 출력
print("왜그래"*10)
# 나는
# 철수
# 입니다
print("나는\n철수\n입니다")
a1 = """나는
철수
입니다"""
print(a1)
a2 = '''나는
철수
입니다'''
print(a2)
# print(이건뭐야)
# Print(김건모모야) 를 이건뭐야 김건모야로 출력
print("이건뭐야",end=" ")
print("김건모모야")

이름은 철수 나이는 14살
철수's house
철수's house
왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래왜그래
나는
철수
입니다
나는
철수
입니다
나는
철수
입니다
이건뭐야 김건모모야

In [1]:
pin = "881120-1068234"
def jumin(pin):
    kind = int(pin[7])  # 문자를 정수로 변경해야 비교 가능
    if kind == 1:     print("2000이전에 출생한 남자")
    elif kind == 2:   print("2000이전에 출생한 여자")
    elif kind == 3:   print("2000이후에 출생한 남자")
    elif kind == 4:   print("2000이후에 출생한 여자")
    elif kind == 5:   print("2000이전에 출생한 외국인 남자")
    elif kind == 6:   print("2000이전에 출생한 외국인 여자")
    elif kind == 7:   print("2000이후에 출생한 외국인 남자")
    elif kind == 8:   print("2000이후에 출생한 외국인 여자")
    else:     print("외계인")
jumin(pin)

2000이전에 출생한 남자

In [ ]:
string = "우리 둘이 있을 때는 두려움이 없었다 친구"
# 우리
print(string[:2])
# 친구
print(string[-2:])

우리
친구

In [ ]:
a = "a:b:c:d"
print(a.replace(":",'#'))

a#b#c#d

In [ ]:
s = "Pithon"
# Python로 변경하여 출력
print(s[0]+'y'+s[2:])

Python

In [ ]:
a1 = [1, 3, 5, 4, 2]
print(sorted(a1, reverse=True))

[5, 4, 3, 2, 1]

In [ ]:
a1 = "안녕 친구"
a2 = a1.replace("친구", "컴 동지")
print(a2)
b1 = "사과. 복숭아. 배. 딸기"
b2 = b1.split('.')
print(b2)
c1 = 'Hi, Friend'
c2 = c1.upper()
print(c2)
# 소문자로 변경
print(c2.lower())

안녕 컴 동지
['사과', ' 복숭아', ' 배', ' 딸기']
HI, FRIEND
hi, friend

In [ ]:
a1 = 10
a2 = 4
# a1 + a2 =
# a1 - a2 =
# a1 * a2 =
# a1 / a2 =
print("{} + {} = {}".format(a1,a2,a1+a2))
print("{} - {} = {}".format(a1,a2,a1-a2))
print("{} * {} = {}".format(a1,a2,a1*a2))
print("{} / {} = {}".format(a1,a2,a1/a2))

10 + 4 = 14
10 - 4 = 6
10 * 4 = 40
10 / 4 = 2.5

In [ ]:
a = dict()  # 키 : 값 키는 변경할 수 없음
print(a)
a['name'] = 'python';
print(a)
a[('a',)] = 'python';
print(a)
# a[[1]] = 'python' # key가 리스트이므로 변경 가능
# print(type(a))
a['python'] = [1,2]
print(a)
a[250] = 'python'
print(a)

{}
{'name': 'python'}
{'name': 'python', ('a',): 'python'}
{'name': 'python', ('a',): 'python', 'python': [1, 2]}
{'name': 'python', ('a',): 'python', 'python': [1, 2], 250: 'python'}

In [ ]:
# 두수를 입력 받아서 4칙연산 출력
print("첫번째 수를 입력하시오")
num1 = input()
print("두번째 수를 입력하시오")
num2 = input()
# input과 format사용
print("{} + {} = {}".format(num1,num2,int(num1)+int(num2)))
print("{} - {} = {}".format(num1,num2,int(num1)-int(num2)))
print("{} * {} = {}".format(num1,num2,int(num1)*int(num2)))
print("{} / {} = {}".format(num1,num2,int(num1)/int(num2)))

첫번째 수를 입력하시오
2
두번째 수를 입력하시오
3
2 + 3 = 5
2 - 3 = -1
2 * 3 = 6
2 / 3 = 0.6666666666666666

In [ ]:
a = {'A': 90, 'B': 80, 'C': 70}
print(a['B'])
print(a.get('B'))

80
80

In [2]:
num1 = 12; num2= 3.567;  s1 = "성공"
# 4칙 연산한 결과를 출력
print("%d + %0.2f = %0.2f %s" % (num1, num2, num1+num2, s1))
print("%d - %0.2f = %0.2f %s" % (num1, num2, num1-num2, s1))
print("%d * %0.2f = %0.2f %s" % (num1, num2, num1*num2, s1))
print("%d / %0.2f = %0.2f %s" % (num1, num2, num1/num2, s1))

12 + 3.57 = 15.57 성공
12 - 3.57 = 8.43 성공
12 * 3.57 = 42.80 성공
12 / 3.57 = 3.36 성공

In [ ]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
# a를 set에 넣으면 중복제거
# 중복제[거된 것을 리스트에 넣어서 생성
print(list(set(a)))

[1, 2, 3, 4, 5]

In [ ]:
# '응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마에요.
# 데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다
print("'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마에요.")
print('\'응답하라 1988\'은 많은 시청자들에게 사랑을 받은 드라마에요.')
print('데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다')
print("데카르트는 \"나는 생각한다. 고로 존재한다.\"라고 말했다")

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마에요.
'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마에요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다

In [ ]:
# [1,2,3]의 리스트 값을 b에 저장(주소값과 실제 데이터 저장 위치가 다름)
# 리스트(참조변수)를 저장하면 주소값을 보내준다 call by reference
# a = b는 b의 주소값을 a에 전달
a = b = [1, 2, 3]
a[1] = 4
print(b, a)
a1 = b1 = 4 # 기본형은 b1에 있는 데이터를 a1에 전달 call by value
b1 = 5
print(a1, b1)

[1, 4, 3] [1, 4, 3]
4 5

In [ ]:
# 오늘은 2016년 12월 25일 일요일입니다
year = 2016
month = 12
day = 25
week = "일요일"
# 숫자를 문자로 변환
print("오늘은 "+str(year)+"년 "+str(month)+"월 "+str(day)+"일 "+week+"입니다")
# format를 사용
print("오늘은 {}년 {}월 {}일 {}입니다".format(year,month,day,week))
# %사용하는 방법
print("오늘은 %d년 %d월 %d일 %s입니다" % (year,month,day,week))

오늘은 2016년 12월 25일 일요일입니다
오늘은 2016년 12월 25일 일요일입니다
오늘은 2016년 12월 25일 일요일입니다

In [5]:
str = "와우 다음시간이 점심"
# 20칸 확보 왼쪽, 오른쪽 중앙
print("{0:<20}".format(str))
print("{0:>20}".format(str))
print("{0:^20}".format(str))
# 위와 같은데 빈칸 !를 채우기
print("{0:!<20}".format(str))
print("{0:!>20}".format(str))
print("{0:!^20}".format(str))
# 45%입니다 출력
print("%d%%" % (45))
print("{}%".format(45))
# 2.4567을 소숫점 2자리 출력 format사용
print("{0:.2f}".format(2.4567))

와우 다음시간이 점심
         와우 다음시간이 점심
    와우 다음시간이 점심
와우 다음시간이 점심!!!!!!!!!
!!!!!!!!!와우 다음시간이 점심
!!!!와우 다음시간이 점심!!!!!
45%
45%
2.46

In [6]:
str = "와우 다음시간이 점심"
print("{0:<20}".format(str))
print("{0:>20}".format(str))

와우 다음시간이 점심
         와우 다음시간이 점심

In [ ]:
week = "금요일"
month = 11
day = 1
# 오늘은 xx월 xx일 xxx입니다 f를 사용하여 출력
# 요일은 8칸 확보 중앙에 배치 앞뒤에 @표시
print(f'오늘은 {month}월 {day}일 {week:@^8}입니다')

오늘은 11월 1일 @@금요일@@@입니다

In [2]:
wage = 5                  # 시급 (1 시간에 5 달러 )
exchange_rate = 1142.16   # 환율 (1 달러에 1142.16 원 )
# 1시간에 5달러 벌었습니다.
print("{}시간에 {}{} 벌었습니다.".format(1,wage,"달러" ))
print(f'{1}시간에 {wage}{"달러"} 벌었습니다.')
# 5시간에 25달러 벌었습니다.
print("{}시간에 {}{} 벌었습니다.".format(5,wage*5,"달러" ))
print(f'{5}시간에 {wage*5}{"달러"} 벌었습니다.')
# 1시간에 5710.8원 벌었습니다.
print("{}시간에 {}{} 벌었습니다.".format(1,wage*exchange_rate,"원" ))
print(f'{1}시간에 {wage*exchange_rate}{"원"} 벌었습니다.')
# 5시간에 28554.0원 벌었습니다.
print("{}시간에 {}{} 벌었습니다.".format(5,wage*exchange_rate*5,"원" ))
print(f'{5}시간에 {wage*exchange_rate*5}{"원"} 벌었습니다.')

1시간에 5달러 벌었습니다.
1시간에 5달러 벌었습니다.
5시간에 25달러 벌었습니다.
5시간에 25달러 벌었습니다.
1시간에 5710.8원 벌었습니다.
1시간에 5710.8원 벌었습니다.
5시간에 28554.0원 벌었습니다.
5시간에 28554.0원 벌었습니다.

In [ ]:
a = 1.23 + 0.32
print(a)
b = 3.0 - 1.5
print(b)
c = 2.1 * 2.0
print(c)
d = 4.5//2.0
print(d)
e = 4.5%2.0
print(e)
f = 4.5/2.0
print(f)

1.55
1.5
4.2
2.0
0.5
2.25

In [ ]:
print("대박 {} 뭔 소리 {} 몇살이니 ? {}".format('사건','그냥', 12))
print("대박 {1} 뭔 소리 {2} 몇살이니 ? {0}".format('사건','그냥', 12))
print("이름:{name}, 나이:{age}".format(name="소희",age=22))
# 시급 2000원 5시간 일하면 10시간
moneyPerHour = 2000
workTime1 = 5
workTime2 = 10
print("철수 시급:{}, 일당:{}".format(moneyPerHour,moneyPerHour*workTime1))
print("철수 시급:{}, 일당:{}".format(moneyPerHour,moneyPerHour*workTime2))

대박 사건 뭔 소리 그냥 몇살이니 ? 12
대박 그냥 뭔 소리 12 몇살이니 ? 사건
이름:소희, 나이:22
철수 시급:2000, 일당:10000
철수 시급:2000, 일당:20000

In [ ]:
# {{를 사용하면 {
print("{{ and }}".format())
print("{{ {} }}".format('and'))
# python 3.6에 추가된 기능 f
name="블랙핑크"
age=23
print(f'{name}은 {age}살 입니다')
print(f'{name}은 {age+1}살 입니다')
d = {'name':"제니", "age":25}
print(f'이름은 {d["name"]}이고 나이는 {d["age"]}입니다')
print(f'{name:<8}은 {age}살 입니다')
print(f'{name:>8}은 {age+1}살 입니다')
print(f'{name:^8}은 {age+1}살 입니다')
print(f'{name:!<8}은 {age}살 입니다')
print(f'{name:@>8}은 {age+1}살 입니다')
print(f'{name:#^8}은 {age+1}살 입니다')
y = 2.5678
print(f'{y:.2f}')
print(f'{{{y}}}')

{ and }
{ and }
블랙핑크은 23살 입니다
블랙핑크은 24살 입니다
이름은 제니이고 나이는 25입니다
블랙핑크    은 23살 입니다
    블랙핑크은 24살 입니다
  블랙핑크  은 24살 입니다
블랙핑크!!!!은 23살 입니다
@@@@블랙핑크은 24살 입니다
##블랙핑크##은 24살 입니다
2.57
{2.5678}

In [ ]:
from fractions import Fraction
# from 패키지, 모듈 import Fraction 클래스, 함수
a1 = Fraction("2/5") + Fraction("3/5")
a2 = Fraction(2, 6) + Fraction(1, 6)
print(a1)
print(a2)

1
1/2

In [ ]:
string = "Good Morning"
# n은 문자열에 포함되어 있는지 검사
print("o" in string)
print("m" in string)
# len은 문자열의 길이
print(len(string))

True
False
12

In [ ]:
#    0123456789012345678901234567890123
a = "Life is too short, You need Python"
# index 문자의 순서이고 0부터 시작
print(a[0])
print(a[3])  # 양수는 앞에 부터
print(a[-1])  # -는 뒤부터
print(a[-3])
print(a[0]+a[1]+a[2]+a[3])
print(a[0:4])
print(a[19:22])
print(a[5:7],a[12:17])
# 처음부터 index 4번 앞에 까지, 처음부터 pointer 4번까지
print(a[:4])
print(a[4:]) # pointer 4번부터 끝까지

L
e
n
h
Life
Life
You
is short
Life
 is too short, You need Python

In [ ]:
#    0123456789012
a = "20010331Rainy"
print(a[:8])
print(a[8:])
# 년도
print(a[:4])
# 월
print(a[4:6])
# 일
print(a[6:8])

20010331
Rainy
2001
03
31

In [ ]:
print('정수를 입력하세요')
# input은 콘솔로 부터 데이터 입력 받는다
num1 = input() # 입력된 것은 문자로 인식
print('정수를 입력하세요')
num2 = input()
print("{} + {} = {}".format(num1,num2,num1+num2))
print("{} + {} = {}".format(num1,num2,int(num1)+int(num2)))
# 실수로 된 문자열은 int변환 할 수 없다
print(float('3.4'))
print(int(4.3))

정수를 입력하세요
2
정수를 입력하세요
3
2 + 3 = 23
2 + 3 = 5
3.4
4

In [ ]:
import sys
a1 = int('23')    # 정수 23
# a2 = int('3.4') # 실수형 문자는 int변경 못함
a3 = int(4.5)     # 정수 4 소숫점 이하는 버림
print('a1 + a3 =',a1+a3)
print(sys.float_info)
print(12/7) # 소숫점 15자리 보여줌
print(sys.maxsize)
print(1.714285e-15)
print(2.3e-3)
print(1.232723723723723)

a1 + a3 = 27
sys.float_info(max=1.7976931348623157e+308, max_exp=1024, max_10_exp=308, min=2.2250738585072014e-308, min_exp=-1021, min_10_exp=-307, dig=15, mant_dig=53, epsilon=2.220446049250313e-16, radix=2, rounds=1)
1.7142857142857142
9223372036854775807
1.714285e-15
0.0023
1.232723723723723

In [ ]:
print("abcd".isalpha())     # 알파벳 확인 대/소 문자 구분 안함
print('abcd1234'.isalpha())
print('1234'.isnumeric())  # 숫자 확인
print("abcd".isalpha())
print('abcd1234'.isalnum()) # 알파벳,숫자, 혼용
print('1234'.isalnum())
print("abcd".isalnum())
print('abcd1234'.isalnum())

True
False
True
True
True
True
True
True

In [ ]:
print(','.join('abcd'))
print('.'.join(['a','b','c','d']))

a,b,c,d
a.b.c.d

In [ ]:
print(1.23e7)
print(123e-3)
print(0o12)
print(0x12)
print(12)
print(0b11)

12300000.0
0.123
10
18
12
3

In [ ]:
a1 = 3
a2 = 44334
a3 = 8948595980598068906896896896489
print(a1); print(a2); print(a3);
b1 = -3
b2 = -2389723873483473487483784739
print(b1); print(b2)
print(type(a1)); print(type(a3))
s1 = "대박"  # 큰 따옴표나 작은 따옴표를 구분하지 않고 사용
s2 = '허걱'
print(type(s1)); print(type(s2))

3
44334
8948595980598068906896896896489
-3
-2389723873483473487483784739
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>

In [ ]:
a = 7
b = 3
print(a/b)   # 나누기
print(a//b)  # 몫
print(a%b)   # 나머지

2.3333333333333335
2
1

In [ ]:
print(4 + 7)          # 4 더하기 7
print(2 - 4)          # 2 빼기 4
print(5 * 3)          # 5 곱하기 3
print(7 % 3)          # 7 을 3 으로  나눈  나머지
print(2 ** 3)         # 2 의 3 제곱
print(2 + 3 * 2)      # 덧셈보다  곱셈을  먼저 계산
print(2 * (2 + 3))    # 괄호  안의  수식을  먼저  계산

11
-2
15
1
8
8
10

In [ ]:
print("%d%% 입니다" % (98))
print("%5s 입니다" % ("대박"))
print("%-5s 입니다" % ("대박"))
# 순서:데이터형
print("{0:.2f} {1:.1f}".format(2.45,4.567))
print("{1:.2f} {0:.1f}".format(2.45,4.567))
# 0번째 데이터를 공간5를 확보하고 왼쪽부터 출력
print("{0:<5}".format("hi"))
# 0번째 데이터를 공간5를 확보하고 오른쪽부터 출력
print("{0:>5}".format("hi"))
# 0번째 데이터를 공간5를 확보하고 중앙에 출력
print("{0:^5}".format("hi"))
print("{0:=^5}".format("hi"))
print("{0:=<5}".format("hi"))
print("{0:=>5}".format("hi"))
print("{0:!<5}".format("hi"))
print("{0:@>5}".format("hi"))
print("{0:#^5}".format("hi"))

98% 입니다
   대박 입니다
대박    입니다
2.45 4.6
4.57 2.5
hi
   hi
 hi
=hi==
hi===
===hi
hi!!!
@@@hi
#hi##

In [ ]:
print('대박')
print("사건")
print("대박",end="") # print문장 종료 후에 줄 바꾸지 말고 사용할 내용
print("사건")
print("대박",end=" ")
print("사건")

대박
사건
대박사건
대박 사건

In [ ]:
print("내이름은 "+"소희"+"입니다") # 문자열을 +는 붙여쓰기
print("할로윈"*10) # *는 반복

내이름은 소희입니다
할로윈할로윈할로윈할로윈할로윈할로윈할로윈할로윈할로윈할로윈

In [ ]:
a = 22
b = 4
print("%d + %d = %d" %(a,b,a+b))
# 앞에 숫자는 출력할 공간 확보
print("%5d + %5d = %5d" %(a,b,a+b))
a1 = 7
b1 = 3.565
c1 = "대박"
print("%d + %0.2f = %0.2f" %(a1,b1,a1+b1))
print("%5d + %5.2f = %5.2f" %(a1,b1,a1+b1))
print("%5d + %5.2f = %5.2f %s" %(a1,b1,a1+b1,c1))
# %d 정수 %f 실수 %s 문자열

22 + 4 = 26
   22 +     4 =    26
7 + 3.56 = 10.56
    7 +  3.56 = 10.56
    7 +  3.56 = 10.56 대박

In [ ]:
a1 = "Hello World"
a2 = a1.replace("World","Korea")
print(a2)
b1 = "Apple,Orange,Kiwi"
# ,를 기준으로 데이터를 나눠서 list로 변경
# 파이썬에서의 list는 R의 벡터
b2 = b1.split(',')
print(b2)
c1 = "Hello World"
c2 = c1.upper()
print(c2)
print(c2.lower())

Hello Korea
['Apple', 'Orange', 'Kiwi']
HELLO WORLD
hello world

In [4]:
a1 = "대박"
a2 = "123"  # 큰 따옴표, 작은 따옴표 구별 안함
print(int(a2)+3)  # print(a2+3) # 문자와 숫자를 더할 수 없다
# print("할로윈데이 "+10+"월"+31+"일")
# 문자와 문자를 더하면 이어 붙임
print("할로윈데이 "+str(10)+"월"+str(31)+"일")
print("할로윈데이",10,"월",31,"일")

126
할로윈데이 10월31일
할로윈데이 10 월 31 일

In [ ]:
print('python')
print("대박")
a = """  # 여러 줄
    안녕 친구
    뭔 소리야
    헛 소리
"""
print(a)
b = '''python
is 
good'''
print(b)

python
대박
  # 여러 줄
    안녕 친구
    뭔 소리야
    헛 소리

python
is
good

In [ ]:
# \는 특수용도로 사용하거나 뒤에 있는 문자 자체를 가르킬 때
print("헐 ~\n대박인가\n뭔소리") # \n은 줄바꿈
print("이건뭐야 \n김\t건\t모\t야")  # \t tab키
print("대박 \"헐") # \"는 "를 출력
print('왜 너\'s 침대')  # \'는 문자 '
print("\\")

print("Python's favorite food is perl")
print('Python\'s favorite food is perl')

print('"Python is very easy." he says.')
print("\"Python is very easy.\" he says.")

헐 ~
대박인가
뭔소리
이건뭐야
김	건	모	야
대박 "헐
왜 너's 침대
\
Python's favorite food is perl
Python's favorite food is perl
"Python is very easy." he says.
"Python is very easy." he says.

In [ ]:
a1 ="""Life is too short
You need python"""
a2 ='''Life is too short
You need python'''
print(a1)
print(a2)

Life is too short
You need python
Life is too short
You need python

In [ ]:
str = "hello"
# 문자열은 일부만 변경할 수 없다
# str[0] = 'f'
#      012345678901234567
str = "Hardware and Shell" # Hardware Kernel and Shell
print(str[:8]+' Kernel'+str[8:])

Hardware Kernel and Shell

In [ ]:
str = "c:/data/data.txt"
print(str.find('test'))
print(str.find('data'))
print("test" in str)
print("data" in str)
# 확장자 찾기
l1 = str.find('.')
print('확장자 :',str[l1+1:])
s1 = str.split('.')
print('확장자 :',s1[1])
print('확장자 :',s1[len(s1) -1])

-1
3
False
True
확장자 : txt
확장자 : txt
확장자 : txt

In [ ]:
# startwith 시작확인
a1 = "Hello"
print(a1.startswith("H"))
print(a1.startswith("F"))
# endwith 끝 확인
print(a1.endswith("o"))
print(a1.endswith("p"))
# find 위치 확인
print(a1.find("e")) # 해단하는 단어의 index번호
print(a1.find("f")) # 없는 단어의 위치는 -1
print(a1.find("l"))
# rfind 데이터를 뒤에서 부터 찾는다
print(a1.rfind("l"))
# count는 해당하는 문자의 갯수
print(a1.count("l"))
# strip는 공백제거
s1 = '         대박      '
print(s1.lstrip()) # 왼쪽 공란 제거
print(s1.rstrip()) # 오른쪽 공란 제거
print(s1.strip())  # 좌우 공란 제거

True
False
True
False
1
-1
2
3
2
대박
         대박
대박

In [ ]:
0.1+0.2==0.3

False

In [ ]:
import sys
sys.float_info.epsilon

2.220446049250313e-16

In [ ]:
0.3-(0.1+0.2)

-5.551115123125783e-17

In [ ]:
1e-2

0.01

In [ ]:
a = 'hello \t world'
print(a)

hello 	 world

In [ ]:
print('hello'*3)

hellohellohello

In [ ]:
A='Life is short, you need python'

In [ ]:
len('Life is short')

13

In [ ]:
'     life is short          '.strip()

'life is short'

In [ ]:
'지금은 {}시 입니다'.format(7)

'지금은 7시 입니다'

In [ ]:
'지금은 {}시 {}분 입니다'.format(7, 30)

'지금은 7시 30분 입니다'

In [ ]:
'지금은 %d시 %d분 입니다' % (7,30)

'지금은 7시 30분 입니다'

In [ ]:
'지금은 {hour}시 {minute}분 입니다'.format(hour = 7, minute = 30)

'지금은 7시 30분 입니다'

In [ ]:
float('1990.2352523')

1990.2352523

In [ ]:
'3'

'3'